/* * {
    background-color: white;
    color: aquamarine
} */

button {
    /* color: black; */
    font-size: 30px;
    background-color: aqua;
}

h1,
h2 {
    color: blue;
}

/* #nameoftheid { property:specification} */

#signup {
    color: red;
    background-color: white;
}

.tag {
    background-color: red;
}

.post a {
    color: red;
}

footer a {
    color: orange;
}

input+button {
    background-color: red;
}

h2+button {
    background-color: magenta;
}