/* * {
    color: pink;
} */

body {
    color: black;
}

button {
    font-size: 30px;
    background-color: #4942E4;
}

h1,
h2 {
    color: black;
}

#signup {
    background-color: blanchedalmond;
    color: #4942E4;
}

.tag {
    background-color: red;
}

a {
    color: blue;
}

footer a {
    color: red;
}