li {
    color: blue;
}

/* Give all elements with the class of done the text color grey */
.done {
    color: grey;
}

/* Give the element with the id clear a red background and white text */

#clear {
    background-color: red;
    color: white;
}